.DuringTest>.UserStats {
    display: flex;
    justify-content: center;
}

.DuringTest>.UserStats>.Timer,
.DuringTest>.UserStats>.CharsPerMin,
.DuringTest>.UserStats>.WordsPerMin,
.DuringTest>.UserStats>.Accuracy {
    display: inline-block;
    width: 150px;
    height: 150px;
    margin: 10px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: rgba(50, 255, 50, 0.8);
    font-family: "home-font";
    font-weight: 600;
    font-size: 30px;
}

.DuringTest>.UserInput>div {
    display: inline-block;
    padding-left: 10px;
    width: 700px;
    height: 100px;
    background-color: rgba(50, 255, 50, 0.8);
    border-radius: 10px;
    font-family: "home-font";
    font-size: larger;
    text-align: start;
    overflow: auto;
}

.DuringTest>.UserInput>input {
    width: 700px;
    height: 100px;
    background-color: rgba(50, 255, 50, 0.8);
    border-radius: 10px;
    font-family: "home-font";
    font-size: larger;
    text-align: start;
    overflow: auto;
}

.UserInput span.correct {
    color: blue;
    font-weight: 500;
}

.UserInput span.incorrect {
    color: gray;
}

@media (max-width: 915px) {

    .DuringTest>.UserStats>.Timer,
    .DuringTest>.UserStats>.CharsPerMin,
    .DuringTest>.UserStats>.WordsPerMin,
    .DuringTest>.UserStats>.Accuracy {
        width: 80px;
        height: 80px;
        font-size: medium;
    }

    .DuringTest>.UserInput {
        font-size: small;
    }

    .DuringTest>.UserInput>div {
        width: 380px;
        height: 50px;
    }

    .DuringTest>.UserInput>input {
        width: 380px;
        height: 50px;
    }
}

@media (min-width: 915px) and (max-height: 725px) {

    .DuringTest>.UserInput>div {
        width: 480px;
        height: 70px;
    }

    .DuringTest>.UserInput>input {
        width: 480px;
        height: 70px;
    }

    .DuringTest>.UserStats>.Timer,
    .DuringTest>.UserStats>.CharsPerMin,
    .DuringTest>.UserStats>.WordsPerMin,
    .DuringTest>.UserStats>.Accuracy {
        width: 100px;
        height: 100px;
        font-size: medium;
    }
}